@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

.welcome-global-div {
  font-family: "Exo", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: 1500;
  opacity: 1;
  background-color: rgb(222, 220, 220);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  text-decoration: none;
}

.text-contain {
  max-width: 1500px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  text-shadow: #000000 1px 0 10px;
}

.black {
  color: black;
  transition: 3s;
}
.white {
  color: white;
  transition: 3s;
}

.text-contain:hover {
  color: rgba(62, 143, 165, 0.815);
  transition: 1s;
}

@media (max-width: 800px) {
  .text-contain {
    padding: 0 50px;
    font-size: 35px;
    line-height: 45px;
  }
}
