@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Exo", sans-serif;
  background-image: url("./assets/img/Fond.jpg");
  background-size: cover;
  z-index: -2;
}

.container {
  margin: 0px auto;
  padding: 0 50px 30px;
  min-width: 300px;
  max-width: 1024px;

  border-radius: 20px;
  box-shadow: 4px 18px 50px -10px #000000;
}
.router-nav {
  display: flex;
  background-color: rgb(0, 0, 0);
  width: 100%;
  top: 0px;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 20px;
}

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  width: 300px;
  height: 50px;
  text-decoration: none;
}
.nav-title > div {
  width: 20%;
  height: 100%;
}
.nav-title > p {
  font-weight: bold;
  text-decoration: none;
}
.nav-title > p:hover {
  color: #fe1efea5;
  transition: 2s;
}
.nav-title > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.router-link-nav {
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 40vh;
  flex-direction: column;
  gap: 20px;
  border-bottom-left-radius: 20px;
  position: fixed;
  top: -100vh;
  right: 0;
  transition: all 1.2s ease-out;
  background-color: rgb(0, 0, 0);
}

.router-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: none;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
  min-width: 200px;
  border-radius: 5px;
  z-index: 0;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  padding-top: 20px;
  color: rgb(0, 0, 0);
}

h3 {
  font-size: 30px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.router-button:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(158, 158, 158);
  color: black;
  transition: all 1s ease-out;
}

.presentation-box {
  width: 100%;
  overflow: hidden;
}

.weight {
  font-weight: bold;
}
.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 50px;
  height: 50px;
  border-radius: 5px;
  position: relative;
  z-index: 5;
}

.top,
.center,
.bottom {
  width: 25px;
  height: 3px;
  background-color: white;
  position: absolute;
  transition: 1s;
}
.bottom {
  bottom: 14px;
}
.top {
  top: 14px;
}

.rotate-right {
  top: calc(47%);
  transform: rotate(45deg);
  transition: 0.7s;
}

.rotate-left {
  bottom: calc(46%);
  transform: rotate(-45deg);
  transition: 0.7s;
}

.disable {
  display: none;
  transition: 0.7s;
}

.burger-button:hover {
  cursor: pointer;
}

.visible {
  transition: all 1.2s ease-out;
  top: 50px;
}

.router-button:last-child {
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media (max-width: 800px) {
  .container {
    padding-top: 50px;
  }
  .router-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
  }

  .change {
    gap: 0;
  }

  .rotate-right {
    top: calc(47%);
    transform: rotate(45deg);
    transition: 2s;
  }

  .rotate-left {
    bottom: calc(46%);
    transform: rotate(-45deg);
    transition: 2s;
  }

  .disable {
    display: none;
    transition: 2s;
  }

  .burger-button:hover {
    cursor: pointer;
  }
  .router-link-nav {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(0, 0, 0);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    position: fixed;
    top: -100vh;
    transition: all 1.2s ease-out;
  }

  .visible {
    transition: all 1.2s ease-out;
    top: 50px;
  }

  .router-button:last-child {
    border-bottom-right-radius: 20px;
  }
}
